div {
    background-color: yellow;
    margin: 10px;
    padding: 15px;
    width: 150px;
    border-radius: 0px;
    float:left;
}

div.caja1 {
    border-color: black;
    border-radius: 5px;
    border: solid;
}

div.caja2 {
    border-color: black;
    border-radius: 10px;
    border: solid;
}

div.caja3 {
    border-color: black;
    border-radius: 20px;
    border: solid;
}

div.caja4 {
    border-color: black;
    border-radius: 40px;
    border: solid;
}

div.caja5 {
    border-color: black;
    border-radius: 60px;
    border: solid;
}

div.caja6 { 
    border: 3px solid rgb(245, 51, 51);
    border-radius: 13em/3em;
    border-style: double;
}
div.caja7 {
    border-color: black;
    border-top-left-radius: 40%;
    border: solid;
}
div.caja8 {
    border-color: black;
    border-radius: 80px 20px;
    border: solid;
}
div.caja9 {
    border-color: black;
    border-radius: 60px 20px 5px;
    border: solid;
}
div.caja10 {
    border-color: black;
    border-radius: 60px 20px 5px 90px;
    border: solid;
}
div.caja11 {
    border-color: black;
    border-radius: 60px/20px;
    border: solid;
}
div.caja12 {
    border: 3px solid rgb(245, 51, 51);
    border-radius: 50%;
    
}